<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {{ content }}
    {% include footer.html %}

    <!-- LOAD JQUERY LIBRARY -->
    <script src="{{ "/js/jquery.min.js" | prepend: site.github.url }}"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="{{ "/js/jquery.themepunch.tools.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/jquery.themepunch.revolution.min.js" | prepend: site.github.url }}"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading) -->
    <script src="{{ "/js/revolution.extension.actions.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.carousel.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.kenburn.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.layeranimation.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.migration.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.navigation.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.parallax.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.slideanims.min.js" | prepend: site.github.url }}"></script>
    <script src="{{ "/js/revolution.extension.video.min.js" | prepend: site.github.url }}"></script>

  </body>

</html>